@{
    ViewData["Title"] = "Contact Us";
    if (Model.UserId != 0)
    {
        Layout = "_LayoutLoggedIn";
    }
    else
    {
        Layout = "_Layout";

    }
}

<center><h1>@ViewData["Title"]</h1></center>

<div class="container">
    <table class="table table-info">
        <thead>
        <th>
            <i class="fas fa-user"></i>  Full Name
        </th>
        <th>
            <i class="far fa-envelope"></i> Email
        </th>
        <th>
            <i class="fab fa-github"></i> Github
        </th>
        <th></th>
        </thead>
        <tbody>
            <tr>
                <td>
                    Yianis Karopoulos
                </td>
                <td>
                    <a href="mailto:gkaropoulos@athtech.gr"> gkaropoulos@athtech.gr</a>

                </td>
                <td>
                    <a href="https://github.com/yianiss">https://github.com/yianiss</a>
                </td>
            </tr>
            <tr>
                <td>
                    Konstantinos Papadopoulos
                </td>
                <td>
                    <a href="mailto:kpapadopoulos@athtech.gr"> kpapadopoulos@athtech.gr</a>
                </td>
                <td>
                    <a href=" https://github.com/KonstantinosIoPapadopoulos"> https://github.com/KonstantinosIoPapadopoulos</a>
                </td>
            </tr>
            <tr>
                <td>
                    Andreas Sempros
                </td>
                <td>
                    <a href="mailto:asempros@athtech.gr"> asempros@athtech.gr</a>
                </td>
                <td>
                    <a href="https://github.com/Andreas-Sempros"> https://github.com/Andreas-Sempros</a>
                </td>
            </tr>
            <tr>
                <td>
                    Theodora Tasia
                </td>
                <td>
                    <a href="mailto:ttasia@athtech.gr"> ttasia@athtech.gr</a>
                </td>
                <td>
                    <a href=" https://github.com/theodtasia"> https://github.com/theodtasia</a>

                </td>
            </tr>
        </tbody>
    </table>
    </div>

<div style="margin-bottom:3rem;"></div>
