@{
    ViewData["Title"] = "Contact Us";
}

<div> <h1>@ViewData["Title"]</h1></div>



<div>
    <table class="table table-info" >
        <thead>
            <th>
                Full Name
            </th>
            <th>
                Email
            </th>
            <th>
                Github
            </th>
            <th></th>
        </thead>
        <tbody>
            <tr>
                <td>
                    Yianis Karopoulos
                </td>
                <td>
                    gkaropoulos@athtech.gr
                </td>
                <td>
                    https://github.com/yianiss
                </td>
            </tr>
            <tr>
                <td>
                    Konstantinos Papadopoulos
                </td>
                <td>
                    kpapadopoulos@athtech.gr
                </td>
                <td>
                    https://github.com/KonstantinosIoPapadopoulos
                </td>
            </tr>
            <tr>
                <td>
                    Andreas Sempros
                </td>
                <td>
                    asempros@athtech.gr
                </td>
                <td>
                    https://github.com/Andreas-Sempros
                </td>
            </tr>
            <tr>
                <td>
                    Theodora Tasia
                </td>
                <td>
                    ttasia@athtech.gr
                </td>
                <td>
                    https://github.com/theodtasia
                </td>
            </tr>
        </tbody>
    </table>

</div>