@{
    ViewData["Title"] = "Home Page";
}

@section Stylesheet {

    <link rel="stylesheet" href="~/css/index/index.css" />
}

<div class="text-center">
    <h1 class="display-4">Welcome to Fundraiser</h1>
    <p>Explore the projects</p>


</div>


@section Scripts
    {
    <script src="~/js/index/index.js" asp-append-version="true"></script>

}