@model FundRaiser_Team5.Dto.Entities.HomeDto;

@{
    ViewData["Title"] = "Home Page";
    if (Model.UserId != 0)
    {
        Layout = "_LayoutLoggedIn";
    }
    else
    {
        Layout = "_Layout";
    }

}


@section Stylesheet {

    <link rel="stylesheet" href="~/css/index/index.css" />
}

<!-- Header with full-height image -->
<div class="jumbotron text-center" style="color:white; margin-top:0rem;">
    <h1 style="font-size:80px; margin-top: 10rem;"> Fundraiser Team 5</h1>
</div>
<div class="container-fluid text-center">
    <h2>Categories</h2>
    <h4>Explore Below</h4>
    <div class="row">
        @foreach (string todo in Enum.GetNames(typeof(FundRaiser.Team5.Core.Entities.Category)))
        {
            <div class="col-sm-4">
                <div class="box">
                    @if (todo == "ARTS")
                    {<span> <i class="fa fa-paint-brush" style="font-size:48px;"></i></span>}
                    else if (todo == "TECH")
                    {<span> <i class="fa fa-microchip" style="font-size:48px;"></i></span>}
                    else if (todo == "FOOD")
                    {<span> <i class="fa fa-beer" style="font-size:48px;"></i></span>}
                    else if (todo == "GAMES")
                    {<span> <i class="fa fa-gamepad" style="font-size:48px;"></i></span>}
                    else if (todo == "MUSIC")
                    {<span> <i class="fa fa-music" style="font-size:48px;"></i></span>}
                    else if (todo == "PUBLISHING")
                    {<span> <i class="fa fa-book" style="font-size:48px;"></i></span>}
                    else if (todo == "OTHER")
                    {<span> <i class="fa fa-paper-plane" style="font-size:48px;"></i></span>}
                    <h3>@todo</h3>
                    <input type="button" class="btn btn-secondary" value=Explore onclick="location.href='@Url.Action("SearchByCategory","Project", new { category = @todo })'" />
                </div>
            </div>
        }
        
    </div>
    <div style="margin-bottom:3rem;"></div>
</div>

<section id="project_list">


</section>


<section id="project_list_template" class="d-none">
    <div class="border">
        <div class="row">
            <div class="col-md-9"><center><h2 class="ProjectTitle">Title</h2></center></div>
            <div class="col-md-3"><center><h2 class="ProjectCreatorFullName">Creator</h2></center></div>
        </div>
        <div class="row">
            <div class="col-md-9"><center><p class="ProjectCategory">Category</p></center></div>
            <div class="col-md-3"><center><p>Progress : <span class="ProjectProgress"></span>%</p></center></div>
            <p class="ProjectDescription">Decription</p>
        </div>
        <div class="row">
            <div class="col-md-9"><center><p>You can found this project until: <span class="ProjectDeadline"></span></p></center></div>
            <div class="col-md-3"><center><button class="btn btn-success">More Info</button></center></div>
        </div>
    </div>
</section>


<sesion id="login_session" class="position-fixed row d-none">
    <div id="login_bg" class="position-fix fixed-top min-vw-100 min-vh-100 fnt5-bg-semitransparent"></div>
    <div id="login_body" class="position-fix fixed-top col-md-6 mx-auto">
        <div class="loginForm">
            <div class=" text-center">
                <h2>Login</h2>
            </div>
            <hr />
            <form asp-action="login" id="loginform">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group hide">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 mx-auto">
                    <button id="loginbtn" class="btn alert-primary">Log In</button>
                    <p><a class="text-light " href="/User/Create"><u> Or Sing up </u></a></p>
                </div>
            </form>
        </div>
    </div>
</sesion>

@section Scripts
    {
    <script src="~/js/index/index.js" asp-append-version="true"></script>

}

