/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap&subset=greek');

.jumbotron 
{
    background-repeat: no-repeat;
    background-size:cover;
    height:100vh;
    width:100%;
    margin:auto;
    background-position: center;
    background-image: url(https://freellustrustrations.s3.us-east-2.amazonaws.com/free-images/freeimg_45074996043freejpg850.jpg);
}

.textHome
{
    position:absolute;
    color:white;
    bottom:2rem;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.box {
    border: 5px solid black;
    margin-bottom: 2rem;
    padding: 2rem;
    background: #6eebff;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy 
{
    font-size: 1rem;
    line-height: inherit;
}

.table-info, .table-info > td, .table-info > th {
    background-color: #d1dadb;
    box-shadow: 0 20px 50px rgba(8, 112, 184, 0.7);
}
    /* Sticky footer styles
-------------------------------------------------- */
    html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.mainForm {
    position: center;
    border-radius: 2em;
    background: #f3ca20;
    padding: 30px;
    font-weight: bold;
}


