@model FundRaiser.Team5.Core.Options.OptionUserFundingPackage

@{
    ViewData["Title"] = "Create";
    if (Model.UserId > 0)
    {
        Layout = "_LayoutLoggedIn";
    }
    else
    {
        <script type="text/javascript"> window.location.href="@Url.Action("Index", "Home")"</script>
    }

}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group hide">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger" value=@Html.DisplayFor(model => Model.UserId)></span>
            </div>
            <div class="form-group hide">
                <label asp-for="FundingPackageId" class="control-label"></label>
                <input asp-for="FundingPackageId" class="form-control" />
                <span asp-validation-for="FundingPackageId" class="text-danger" value=@Html.DisplayFor(model => Model.FundingPackageId)></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<div style="margin-bottom:3rem;"></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
