@model FundRaiser.Team5.Core.Options.OptionUser

@{
    ViewData["Title"] = "Create";
    var sessionUser = Model.First().SessionUser;
    if (sessionUser != 0)
    {
        Layout = "_LayoutLoggedIn";
    }
    else
    {
        Layout = "_Layout";
    }

}

<h1 class="text-center"> Sign Up</h1>

<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="mainForm">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <center>   <input type="submit" value="Create" class="btn btn-secondary btn-lg" /> </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
<div style="margin-bottom:4rem;"></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
