@model  FundRaiser_Team5.Dto.Entities.UserDto ;


@{
    ViewData["Title"] = "Index";
    var sessionUser = 1;
    if (sessionUser != 0)
    {
        Layout = "_LayoutLoggedIn";
    }
    else
    {
        Layout = "_Layout";
    }


}

<h1>Profile</h1>


<h1> I am user @Model.UserId @Model.UserFullName</h1>


